# CC-CEDICT
# Community maintained free Chinese-English dictionary.
#
# Published by MDBG
#
# License:
# Creative Commons Attribution-ShareAlike 4.0 International License
# https://creativecommons.org/licenses/by-sa/4.0/
#
# Referenced works:
# CEDICT - Copyright (C) 1997, 1998 Paul Andrew Denisowski
#
# CC-CEDICT can be downloaded from:
# https://www.mdbg.net/chinese/dictionary?page=cc-cedict
#
# Additions and corrections can be sent through:
# https://cc-cedict.org/editor/editor.php
#
# For more information about CC-CEDICT see:
# https://cc-cedict.org/wiki/
#
#! version=1
#! subversion=0
#! format=ts
#! charset=UTF-8
#! entries=124732
#! publisher=MDBG
#! license=https://creativecommons.org/licenses/by-sa/4.0/
#! date=2026-07-25T04:44:03Z
#! time=1784954643
110 110 [yao1 yao1 ling2] /the emergency number for law enforcement in Mainland China and Taiwan/
119 119 [yao1 yao1 jiu3] /the emergency number for firefighting services in Mainland China/
11區 11区 [11 Qu1] /(ACG) Japan (from the anime "Code Geass", in which Japan was renamed Area 11)/
120 120 [yao1 er4 ling2] /the emergency number for medical assistance and first aid in Mainland China/
2019冠狀病毒病 2019冠状病毒病 [er4 ling2 yi1 jiu3 guan1 zhuang4 bing4 du2 bing4] /COVID-19, the coronavirus disease identified in 2019/
21三體綜合症 21三体综合症 [21 san1 ti3 zong1 he2 zheng4] /trisomy; Down's syndrome/
3C 3C [san1 C] /computers, communications, and consumer electronics/China Compulsory Certificate (CCC)/
3D打印 3D打印 [san1 D da3 yin4] /to 3D print; 3D printing/
