/a/[/r/AtLocation/,/c/zh/101_大廈/,/c/zh/空中花園/]	/r/AtLocation	/c/zh/101_大廈	/c/zh/空中花園	{"dataset": "/d/conceptnet/4/zh", "license": "cc:by/4.0", "sources": [{"activity": "/s/activity/ptt/petgame", "contributor": "/s/contributor/petgame/pet_20310"}], "surfaceEnd": "空中花園", "surfaceStart": "101大廈", "surfaceText": "[[101大廈]] 在 [[空中花園]]外。", "weight": 1.0}
/a/[/r/AtLocation/,/c/zh/109_辣妹/,/c/zh/東京/]	/r/AtLocation	/c/zh/109_辣妹	/c/zh/東京	{"dataset": "/d/conceptnet/4/zh", "license": "cc:by/4.0", "sources": [{"activity": "/s/activity/ptt/petgame", "contributor": "/s/contributor/petgame/pet_11449"}, {"activity": "/s/activity/ptt/petgame", "contributor": "/s/contributor/petgame/pet_11627"}], "surfaceEnd": "東京", "surfaceStart": "109辣妹", "surfaceText": "*你可以在 [[東京]] 找到 [[109辣妹]]。", "weight": 2.0}
