/a/[/r/Antonym/,/c/zh/上/,/c/zh/下/]	/r/Antonym	/c/zh/上	/c/zh/下	{"dataset": "/d/wiktionary/fr", "license": "cc:by-sa/4.0", "sources": [{"contributor": "/s/resource/wiktionary/fr", "process": "/s/process/wikiparsec/2"}], "weight": 1.0}
/a/[/r/Antonym/,/c/zh/上/a/,/c/zh/下/]	/r/Antonym	/c/zh/上/a	/c/zh/下	{"dataset": "/d/wiktionary/fr", "license": "cc:by-sa/4.0", "sources": [{"contributor": "/s/resource/wiktionary/fr", "process": "/s/process/wikiparsec/2"}], "weight": 1.0}
