<mediawiki xmlns="http://www.mediawiki.org/xml/export-0.11/" version="0.11" xml:lang="zh">
  <siteinfo><sitename>schema sample</sitename></siteinfo>
  <page>
    <title>苹果</title><ns>0</ns><id>1</id>
    <revision>
      <id>101</id><parentid>100</parentid><timestamp>2026-06-30T00:00:00Z</timestamp>
      <contributor><username>示例用户</username><id>11</id></contributor>
      <model>wikitext</model><format>text/x-wiki</format>
      <text bytes="66" xml:space="preserve">{{漢語詞|蘋果|简体=苹果}}
==漢語==
{{讀音|{{拼音|píng guǒ}}}}
# 一種水果。</text>
      <sha1>samplewiktionarysha1one</sha1>
    </revision>
  </page>
  <page>
    <title>坏模板页</title><ns>0</ns><id>2</id>
    <revision>
      <id>102</id><parentid>101</parentid><timestamp>2026-06-30T00:00:01Z</timestamp>
      <contributor deleted="deleted" />
      <model>wikitext</model><format>text/x-wiki</format>
      <text bytes="12" xml:space="preserve">{{未关闭|参数</text>
      <sha1>samplewiktionarysha1two</sha1>
    </revision>
  </page>
  <page>
    <title>Talk:苹果</title><ns>1</ns><id>3</id>
    <revision>
      <id>103</id><timestamp>2026-06-30T00:00:02Z</timestamp>
      <contributor><ip>192.0.2.10</ip></contributor>
      <model>wikitext</model><format>text/x-wiki</format>
      <text bytes="4" xml:space="preserve">讨论</text>
      <sha1>samplewiktionarysha1three</sha1>
    </revision>
  </page>
</mediawiki>
